@use "vars" as *;
@use "utils" as *;
body {
  // background-color: $bg;
  // color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
p,
span,
time,
a,
div,
button,
address,
input,
input::placeholder,
label,
legend,
li {
  color: $white;
  font-family: "Onest", sans-serif;
}
// font-family: "Montserrat", sans-serif;
.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 30px;
  width: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.item {
  padding: 5px 10px;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  @include transition;
  a,
  button,
  span {
    @include transition;
  }

  &:hover {
    background-color: $yellow;
    a,
    button,
    span {
      color: $black;
    }
  }
}
.content__container {
  margin-top: 30px;
  background-color: rgba(247, 247, 255, 1);
  padding: 20px;
  border-radius: 20px;
}
.legend-default {
  display: block;
  font-style: 16px;
  color: rgba(106, 107, 136, 1);
  max-width: 200px;
  width: 100%;
  text-align: right;
  white-space: nowrap;
}
.button-default {
  background-color: $yellow;
  color: rgba(22, 23, 45, 1);
  transition: 0.3s all;
  min-height: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}
